
body {
    margin: 0px;
    margin-top: 15px;
}

a {
    outline: none;
    text-decoration: none;
}

header {
    margin: 0px;
    height: 100px;
    background-color: #8585ad;
    border-top: 1px solid #47476b;
    border-bottom: 1px solid #47476b;
}

#page-title {
    margin: 15px;
    font-size: 30px;
    color: #004d00;
    margin-left: 160px;
    font-weight: bold;
    line-height: 2.3em;
}

#container {
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #e0e0eb;
}

#form-container {
    width: 75%;
    height: 320px;
    margin: 15px;
    display: flex;
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 25px;
    background-color: #ffffff;
}

#form-header-container {
    width: 100%;
    height: 15px;
    margin-top: 0px;
    background-color: #006600;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#form-footer-container {
    width: 100%;
    height: 15px;
    margin-top: 0px;
    background-color: #006600;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

#form-detail-container {
    width: 100%;
    height: 300px;
    text-align: center;
    /*background-color:blue;*/
}

.form-table {
    width: 98%;
    margin-left: 11px;
}

.button {
    width: 120px;
    height: 50px;
    font-size: 13px;
    color: #e6e6e6;
    font-weight: bold;
    line-height: 3.5em;
    border-radius: 7px;
    background-color: #006600; /*003300*/
    transition: background 1s, color 1s;
}

.button:hover {
    color: #ffffff;
    background-color: #009900;
}